In [1]:
import pandas as pd

# Filters

```
CREATE TEMPORARY TABLE temp_filters AS
SELECT MIN(id) as id, kw_id, filter_name, name, filter_id, MIN(count) as count
FROM filters
GROUP BY filter_name, name;
```

In [3]:
df = pd.read_csv('~/Desktop/NEW/filters.csv')

df = df.drop_duplicates(subset=['filter_name', 'name'])

df.to_csv('/tmp/filters_clean.csv', index=False)

 api.yml	  pics
 cat.db		  products.db
 cat.db-journal   products_last.db
 categories.csv   requests.csv
 filter.db	  rewild
 filters.csv	  sets
 filters.db	  stocks.xlsx
 kw.csv		 'Unconfirmed 111460.crdownload'
 new.xlsx	 'Unconfirmed 696619.crdownload'
 parsing	 'Unconfirmed 863281.crdownload'
 parsing_1.db	  week_requests.csv
 parsing_4.db	 'Акт сверки за период 2024-01-01 - 2024-03-31.pdf'
 parsing.db	 'Товары с выгодной ценой.xlsx'
 p.db		 'Товары с высокой ценой.xlsx'
 p.db-journal	 'Товары с оптимальной ценой.xlsx'

# Search phrases

### clean numeric and NULLs

In [39]:
df = pd.read_csv('~/Desktop/NEW/requests.csv', delimiter=',')  
df = df.drop_duplicates(subset=['kw'])
df = df.dropna(axis=1, how='all')
df = df[df['kw'].notna()]
df_filtered = df[~df['kw'].str.isnumeric()]
df_filtered = df_filtered.dropna(axis=1, how='all')

### drop too much long string

In [55]:

lengths = df_filtered['kw'].dropna().apply(len)

max_index = lengths.idxmax()

longest_string = df.loc[max_index, 'kw']

In [56]:
longest_string

'усиленный фиксатор распредвалов грм для лада ваз приора гранта веста 21126 2112 2110 - фиксатор грм для lada priora лада приора vaz priora vesta granta'

In [54]:
df_filtered = df_filtered.drop(max_index)

In [18]:
len(longest_string)

194

In [61]:
df_filtered = df_filtered.dropna(axis=1, how='all')
df_filtered = df_filtered.drop(columns=['Unnamed: 2'], errors='ignore')
df_filtered = df_filtered.drop(columns=['Unnamed: 2'], errors='ignore')
df_filtered['freq'] = pd.to_numeric(df_filtered['freq'], errors='coerce').fillna(0).astype(int)


df_filtered.head()

                  kw     freq
0   футболка женская  1082340
1  кроссовки женские  1067725
2     джинсы женские   680230
3     платье женское   636185
4  кроссовки мужские   597755

In [62]:
df_filtered.to_csv('~/Desktop/NEW/search_phrases_clean.csv', index=False)

# Lemmas

In [1]:
df = pd.read_csv('~/Desktop/NEW/lemmas.csv')
print(f'Initially, the DataFrame has {len(df)} rows.')


df = df.drop_duplicates(subset=['lemma'])

na_ids = df[df['lemma'].isna()].index.tolist()
print(f'IDs with NaN in "lemma": {na_ids}')

# Фильтрация DataFrame для удаления строк с NaN в 'lemma'
df_filtered = df[df['lemma'].notna()]
print(f'After removal of NaNs: {len(df_filtered)} records')

NameError: name 'pd' is not defined

In [26]:
df_filtered.to_csv('~/Desktop/NEW/lemmas_clean.csv', index=False)

# KW - lemmas

In [ ]:
df = pd.read_csv('~/Desktop/NEW/kw_lemmas.csv')
print(f'at first {len(df)}')
df = df.drop_duplicates(subset=['lemma'])
df_filtered = df[df['lemma'].notna()]

print(f'at second {len(df_filtered)}')